# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# VS Code
.vscode/

# Gradio
.gradio/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

main.py

# Python cache
.pytest_cache/